<template id="todo-layout-template">
    <h3>todolist</h3>
    <form class="d-flex pb-4">
        <input type="text" class="form-control me-2" id="taskInput" placeholder="Enter a new task" name="title">
        <button class="btn btn-primary">Ajouter</button>
    </form>
    <main>
        <div class="btn-group mb-4" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary active" data-filter="all" >All</button>
            <button type="button" class="btn btn-outline-primary" data-filter="todo">Active</button>
            <button type="button" class="btn btn-outline-primary" data-filter="done">Completed</button>
        </div>
        <ul class="list-group">
            
        </ul>
    </main>
</template>
<template id="task-template">
    <li class="todo list-group-item d-flex align-items-center">
        <input type="checkbox" class="form-check-input me-2" id="todo-1">
        <label class="form-check-label ms-2" for="todo-1">delectus aut autem</label>
        <button class="ms-auto btn btn-danger btn-sm">delete</button>
    </li>
</template>